<html>
    <head>
        <title>Bundles 2.0 - Features Demo</title>
        <link rel="stylesheet" href="/__xpr__/pub_engine/{{bundle}}/web/theme.css"/>
    </head>


    <body>
        <h1>Bundles 2.0 - Features Demo</h1>
        <hr>
        <p>Underneath this paragraph is a comment which contains a dump of the default context</p>
        <!-- {{{XprJson @root}}} -->


    </body>

</html>
