<html>
    <head>
        <title>Bundles 2.0 - Features Demo</title>
        <link rel="stylesheet" href="/__xpr__/pub_engine/{{xpr.bundle}}/web/theme.css"/>
    </head>
    <body>


        <p>Here is an embedded element rendering articles using OPTIONS passing:</p> 

        {{#each PageData}} 
            {{{XprElement bundlePath="/article/active_detail" options.articleId=Id}}} 
        {{/each}}

        <hr>

        <p>Here is an embedded element rendering articles using CONTEXT passing:</p>
        {{#each PageDataHtmlUppered}}
            {{{XprElement bundlePath="/article/passive_detail" context.Article=this}}}
        {{/each}}


    </body>
</html>
