<head>
    <title>Example Element! Bundles 2.0</title>
</head>

<body>
    <h1>
    This was rendered by an Element. 
    </h1>

    <p>
    Here are some dynamic server variables:
    </p>
    <pre>
    {{{XprJson xpr}}}
    </pre>
</body>
