<head>
    <title>Example Element! Bundles 2.0</title>
</head>

<body>
    <h1>
    Meeting demo!!! This was rendered by an Element in the Bundles 2.0 Engine. 
    </h1>

    <p>
    Here are some dynamic server variables:
    </p>
    <pre>
    {{{XprJson @root}}}
    </pre>
</body>
