<head>
    <title>Example Element! Bundles 2.0</title>
</head>

<body>
    <h1>
        Hello everyone in Expression meeting!
    </h1>

    <p>
    Here are some dynamic server variables:
    </p>
    <pre>
    {{{XprJson @root.xpr}}}
    </pre>


    Here are some values from a datasource:

    <pre>
    {{{XprJson @root}}}
    </pre>


</body>
